<!DOCTYPE HTML>
<html>
  <head>
    <title>Form Test</title>
    Thar be forms here.
  </head>
  <body>
    <form action="/dev-whopper/learn_sinatra/form" method="post">
      <input type="text" name="message" value="Input!">
      <input type="submit" value="Submit!">
    </form>
  </body>
</html>
