<!DOCTYPE HTML>
<html>
  <head>
    <title>"encrypter"</title>
    Secrets o_o
  </head>
  <body>
    <form action="/dev-whopper/learn_sinatra/secret" method="post">
      <input type="text" name="password" value="The goods!">
      <input type="submit" value="Submit!">
    </form>
  </body>
</html>

